.header-container {
    border-bottom: 4px solid #1a67cca6; 
    background-color: #1a67cca6;
    text-decoration: none;
}


.header-profile {
    padding-top: 0px;
    background-color: #1a67cca6;
    font-weight: bold; 
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}


.header-breadcrumb {
    background-color: #1a67cca6;
}


.simplebar {
    background-color: #11233b;
    border-right: 1px solid #ccc; 
}


.d-flex.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.nav-item {
    display: flex;
    align-items: center; 
}


.nav-item .vr {
    height: 100%; 
}
