.header-container {
    background-image: linear-gradient(
        -45deg,
        rgba(50, 31, 219, 0.4),     
        rgba(111, 66, 193, 0.4),    
        rgba(13, 202, 240, 0.4),    
        rgba(0, 0, 21, 0.9)         
    );

    background-size: 400% 400%; 
    
    animation: auroraFade 20s ease infinite;

    background-color: transparent !important; 
    border-bottom: none !important; 
}

.header {
    background-color: transparent !important;
    box-shadow: none !important; 
}

.simplebar {
    background-color: #11233b;
    border-right: 1px solid #ccc; 
}


.d-flex.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.nav-item {
    display: flex;
    align-items: center; 
}


.nav-item .vr {
    height: 100%; 
}
